---
metadata: {
    partial_name: 'Ecommerce | Checkout | Checkout Account Info Page'
}
---

<div class="spacer xxxx-large hide-for-small-only"></div>
<div class="spacer x-large show-for-small-only"></div>

<h3 class="heading-1 font-color-head">Contact</h3>
<div class="spacer xxx-large hide-for-small-only"></div>
<div class="spacer show-for-small-only"></div>

<div class="grid-x grid-padding-x">
    <div class="large-7 medium-12 small-12 cell">
        {%- if context.current_user -%}
            {% comment %} The user is logged in: Get user info {% endcomment %}
            {% function user = 'modules/ecommerce/user/get_current_user' %}
            {% assign crm_contact = user.current_user.crm_contact[0] %}
            {% session company_uuid = crm_contact.crm_company.uuid %}        

            {% comment %} Edit current_user {% endcomment %}
            {% include_form 'modules/ecommerce/checkout_user_update', 
                id: context.current_user.id, 
                company_name: crm_contact.crm_company.company_name,
                contact_phone_number: crm_contact.mobile_phone_number,
                contact_phone_country_code: crm_contact.mobile_phone_country_code %}

        {%- elsif context.session.contact_email -%}    
            {% comment %}  
                Guest user
                - The guest has already submitted their Contact Information on the /checkout page.  
                    Therefore, a record now exists in CRM (contact and company), and context.session.contact_email is set.  
                - After submitting the /checkout page, the guest is redirected to the next step: /checkout/shipping.  
                - At any checkout step, if the guest returns to the /checkout page (Contact Information),  
                    they will fall under this condition: "elsif context.session.contact_email"
            {% endcomment %}
            {%  liquid    
                ## Use sessions if exists, else save to sessions 
                ## This is to avoid multiple calls to the database.            
                if context.session.guest_id and context.session.guest_id != ''
                    assign guest_id = context.session.guest_id
                else
                    graphql guest = "modules/ecommerce/account/check_user_email", email: context.session.contact_email | dig: 'items','results' | first
                    assign guest_id = guest.id
                    session guest_id = guest_id
                    session guest_uuid = guest.external_id
                endif
            %}
            {% comment %} Edit guest CRM contact & company {% endcomment %}
            {% include_form 'modules/ecommerce/checkout_user_update', 
                id: guest_id, 
                company_name: context.session.contact_company_name,
                contact_phone_number: context.session.contact_phone_number,
                contact_phone_country_code: context.session.contact_phone_country_code %}
        {%- else -%}
            {% include 'modules/ecommerce/checkout/checkout_user_create', company_name: context.session.contact_company_name %}
        {%- endif -%}
    </div>
    <div class="large-4 large-offset-1 medium-12 small-12 cell">
        <div class="hide-for-large spacer xxx-large"></div>
        {%- include 'modules/ecommerce/layout/order_summary', 
            show_product: true,
            check
            form_update: true,
            form_delete: true -%}
    </div>
</div>
