---
metadata: {
    partial_name: 'Ecommerce | Discounts | Add Discount Code Form'
}
---
{% comment %} This partial is not a form at all but it has input fields and a button for user to enter a discount code. {% endcomment %}

<ins-accordion>
    <ins-accordion-item 
        class="discount-code-form"
        heading="Have a discount code?" 
        open-icon="icon-plus"
        close-icon="icon-minus">
        
        <div id="discount-code-form">

                <div class="grid-x gap">
                    <ins-input
                        id="discount-code-input"
                        class="flex-child-auto"
                        error-message="Discount code is required"
                        label=""
                        title="Discount code"
                        placeholder="Enter discount code" >
                    </ins-input>
                    <ins-button 
                        id="apply-discount-btn"
                        label="Apply"
                        type="submit">
                    </ins-button>
                </div>
            
        </div>

    </ins-accordion-item>
</ins-accordion>

<script>
     const discountCodeForm = document.getElementById('discount-code-form');
     const applyDiscountBtn = document.getElementById('apply-discount-btn');
     const discountCodeInput = document.getElementById('discount-code-input');     
     
     applyDiscountBtn.addEventListener('insClick', async function(event) {
        applyDiscountBtn.loading = true;
        let discountCode = await discountCodeInput.getValue();
        let payload = {
                discount_code: discountCode,
                type: 'add'
            }
        shoppingCart.methods.validateDiscountCode(payload, discountCodeForm);
     });
</script>