        <div class="pageinations grid-x grid-padding-x align-right align-middle">
            <div class="shrink cell">
                {%- assign per_page = context.params.per_page | plus: 0 | default: 9 -%}
                <span class="per__page color-font-head form-label"><strong>Product per page:</strong></span>
                <ins-select id="page-size-select" placeholder="Select Size" small>
                    <ins-select-option label="9" value="9" {% if per_page <= 9 %}default{% endif %}></ins-select-option>
                    <ins-select-option label="15" value="15"  {% if per_page > 9 and per_page <= 15 %}default{% endif %}></ins-select-option>
                    <ins-select-option label="30" value="30"  {% if per_page > 15 and per_page <= 30 %}default{% endif %}></ins-select-option>
                </ins-select>
            </div>
            {%- assign tmp_start_count = products.items.current_page | times: page_size -%}
            {%- assign tmp_start_minus = page_size | minus: 1 -%}
            {%- assign tmp_start = tmp_start_count | minus: tmp_start_minus -%}
            {%- assign tmp_end_count = products.items.current_page | times: page_size -%}
            {%- if tmp_end_count > products.items.total_entries -%}
            {%- assign end_count = products.items.total_entries -%}
            {%- else -%}
            {%- assign end_count = tmp_end_count -%}
            {%- endif -%}

            <div class="shrink cell">
                <div class="paginate">
                    <span>{{ tmp_start }}</span>
                    <span>-</span>
                    <span>{{ end_count }}</span>
                    <span>of</span>
                    <span>{{ products.items.total_entries }}</span>
                    <div>
                        {%- if products.items.current_page > 1 -%}
                        <ins-button 
                            id="previousPage"
                            label=""
                            icon="icon-angle-left">
                        </ins-button>
                        {%- endif -%}
                    </div>
                    <div>
                        {%- if products.items.current_page < products.items.total_pages -%}
                        <ins-button 
                            id="nextPage"
                            label=""
                            class="btn-icon-right"
                            icon="icon-angle-right">
                        </ins-button>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>