{% comment %} Import Products — guarded: only seed when the table has no records yet {% endcomment %}
{%- graphql existing_products -%}
  query {
    items: records(
      per_page: 1
      filter: {
        table: { value: "modules/insites_ecommerce/product" }
        deleted_at: { exists: false }
      }
    ) {
      total_entries
    }
  }
{%- endgraphql -%}
{%- assign existing_products_count = existing_products.items.total_entries | default: 0 -%}
{%- if existing_products_count == 0 -%}
{% parse_json import_products %}
[
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "CG-11-100",
               "slug": "premium-blackout-couch",
               "uuid": "d0880847-9986-4585-8fa3-53ee2c35fc27",
               "width": 45,
               "height": 24,
               "length": 35,
               "status": "enabled",
               "weight": 12,
               "brand_name": "Luxe",
               "brand_uuid": "ff989ae1-563a-4069-aa0a-c62e8a6a1eba",
               "is_on_sale": false,
               "sale_price": 320,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 1,
               "total_price": 412.5,
               "product_name": "Premium Blackout Couch",
               "regular_price": 375,
               "sitemap_order": 0,
               "category_uuids": [
                    "a8316e56-2afe-4311-a465-a7b20f9c1e8c",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "fb3204f1-8189-492e-9dfa-1093f64bf8f0"
               ],
               "shipping_width": 25,
               "effective_price": 375,
               "is_subscription": false,
               "is_tax_included": false,
               "shipping_height": 32,
               "shipping_length": 25,
               "shipping_weight": 8,
               "is_free_shipping": false,
               "long_description": "<p>This contemporary two-seater sofa offers a minimalist aesthetic with a touch of industrial flair. The dark gray fabric upholstery provides a neutral backdrop, while the sleek black legs add a modern edge. The clean lines and comfortable cushions make this sofa perfect for relaxing or entertaining guests.</p><p><br></p><ul><li>Two-seater design</li><li>Dark gray fabric upholstery</li><li>Sleek black legs</li><li>Modern, minimalist design</li><li>Comfortable cushions<br><br></li></ul>\n",
               "product_weighting": 0,
               "short_description": "A sleek, modern two-seater sofa with a dark gray fabric upholstery and sleek black legs.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "OUTDOOR-RUG-01",
               "slug": "boho-bliss-rug",
               "uuid": "7540eaa8-d25c-4ce7-9763-1bb4b942023e",
               "width": 6,
               "height": 6,
               "length": 6,
               "status": "enabled",
               "weight": 10,
               "gallery_1": [
                    "66f94840-a10f-4af8-bff0-ed0e33797267",
                    "661f0278-d667-4347-afee-0166e133715a",
                    "a606ed02-64dd-420b-90a6-412eae3b98a2",
                    "4e506ff3-a449-4e6d-940a-01b3f6cb97e8",
                    "e21d0ce4-3806-4043-bda6-8780f1698b02"
               ],
               "brand_name": "Nile",
               "brand_uuid": "4c91a72d-45ed-4160-80cb-28f485c153df",
               "is_on_sale": true,
               "sale_price": 100,
               "tax_amount": 10,
               "is_featured": true,
               "stock_level": 26,
               "total_price": 100,
               "product_name": "Boho Bliss Rug",
               "regular_price": 150,
               "sitemap_order": 0,
               "category_uuids": [
                    "ba6017b8-82fe-467c-8882-7fd86a48445c",
                    "d0a5cf85-daf5-49d5-8d9c-67671a1f1714",
                    "f8c4af1d-54df-4cbb-8031-e5ecd80c42d8"
               ],
               "shipping_width": 6,
               "effective_price": 90.9091,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 6,
               "shipping_length": 6,
               "shipping_weight": 10,
               "is_free_shipping": false,
               "long_description": "<p>This stylish and durable outdoor rug is perfect for adding a touch of bohemian flair to your patio or deck. The weather-resistant material is easy to clean and maintain.</p><ul><li>Bohemian style</li><li>Durable and weather-resistant</li><li>Easy to clean</li><li>Versatile design</li><li>Adds a touch of color and texture</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Add a touch of boho chic to your outdoor space with the \"Boho Bliss\" round outdoor rug.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_sale_price_tax_included": true,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "STOOLS-MCM-01",
               "slug": "atomic-age-bar-tools",
               "uuid": "50a6fe87-9114-4f84-aa7d-1c05f4d5fe6d",
               "width": 18,
               "height": 36,
               "length": 24,
               "status": "enabled",
               "weight": 25,
               "brand_name": "Luxe",
               "brand_uuid": "ff989ae1-563a-4069-aa0a-c62e8a6a1eba",
               "is_on_sale": true,
               "sale_price": 235,
               "tax_amount": 10,
               "unit_label": "Set",
               "is_featured": false,
               "stock_level": 4,
               "total_price": 235,
               "product_name": "Atomic Age Bar Tools",
               "regular_price": 299,
               "sitemap_order": 0,
               "category_uuids": [
                    "b61500a9-9948-483a-be1b-d0cbbc4b530e"
               ],
               "shipping_width": 18,
               "effective_price": 213.6364,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 36,
               "shipping_length": 24,
               "shipping_weight": 25,
               "is_free_shipping": false,
               "long_description": "<p>These bar stools, inspired by the atomic age, feature a classic mid-century modern design with tapered legs and a comfortable upholstered seat. The sleek metal frame adds a touch of industrial style, making them perfect for any contemporary kitchen or dining area.<br></p><ul><li>Mid-century modern design</li><li>Comfortable upholstered seat</li><li>Sturdy metal frame</li><li>Easy to assemble</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Elevate your kitchen or bar area with these stylish mid-century modern bar stools.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_sale_price_tax_included": true,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "HK-DS-036",
               "slug": "hiska-marble-dining-set",
               "uuid": "8f817d26-8b44-49e6-b0ad-70d797a35bf8",
               "status": "enabled",
               "brand_name": "Nile",
               "brand_uuid": "4c91a72d-45ed-4160-80cb-28f485c153df",
               "is_on_sale": false,
               "unit_label": "set",
               "is_featured": false,
               "stock_level": 50,
               "total_price": 2299,
               "product_name": "Hiska Marble Dining Set",
               "regular_price": 2299,
               "sitemap_order": 0,
               "category_uuids": [
                    "82d87aa2-7808-4ddb-aee6-2f6361fea763",
                    "b61500a9-9948-483a-be1b-d0cbbc4b530e"
               ],
               "effective_price": 2299,
               "is_subscription": false,
               "is_tax_included": false,
               "is_free_shipping": false,
               "long_description": "<p>The Hiska Marble Dining Set features a premium marble tabletop paired with six velvet-upholstered chairs. The set exudes sophistication, making it perfect for upscale dining spaces.</p><ul><li>Genuine marble tabletop</li><li>Soft velvet chairs with gold-tone legs</li><li>Scratch and stain-resistant finish</li><li>Comfortable seating for six</li><li>Table: Length 180 cm, Width 90 cm, Height 76 cm;</li><li>Chair: Seat Height 45 cm, Weight 100 kg</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "A luxurious dining set with a marble top table and velvet chairs.\n",
               "is_sitemap_enabled": false,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "8SIAJB7APH0171",
               "slug": "otto-luxe-ottoman",
               "uuid": "1a6ca125-3f8d-4396-ae85-b4cc2b31396a",
               "width": 12,
               "height": 15,
               "length": 12,
               "status": "enabled",
               "weight": 3,
               "brand_name": "Luxe",
               "brand_uuid": "ff989ae1-563a-4069-aa0a-c62e8a6a1eba",
               "is_on_sale": true,
               "sale_price": 299,
               "is_featured": false,
               "stock_level": 0,
               "total_price": 299,
               "product_name": "Otto Luxe Ottoman - Soft Grey",
               "regular_price": 322,
               "sitemap_order": 0,
               "category_uuids": [
                    "8b6795ca-3ff9-4ace-86b4-3c50b9b31b04",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "d0a5cf85-daf5-49d5-8d9c-67671a1f1714"
               ],
               "shipping_width": 15,
               "effective_price": 299,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 25,
               "shipping_length": 15,
               "shipping_weight": 1,
               "is_free_shipping": false,
               "long_description": "<p>This versatile ottoman offers both style and functionality. Its circular seat is upholstered in a tufted gray fabric, adding a touch of elegance to any room. The wooden legs provide stability and a natural aesthetic. This ottoman can be used as a footrest, extra seating, or even a coffee table.</p><p><br></p><ul><li>Circular, tufted seat</li><li>Gray fabric upholstery</li><li>Wooden legs</li><li>Versatile use as footrest, seating, or coffee table</li></ul>\n",
               "product_weighting": 0,
               "short_description": "A stylish and functional ottoman with a tufted gray fabric seat and wooden legs.\n",
               "is_sitemap_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "OUTDOOR-UM-01",
               "slug": "shady-haven-outdoor-umbrella",
               "uuid": "6916c760-35c1-438c-8ce1-a907f1d3fecf",
               "status": "enabled",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": -16,
               "total_price": 199,
               "product_name": "Shady Haven Outdoor Umbrella",
               "regular_price": 199,
               "sitemap_order": 0,
               "category_uuids": [
                    "d2f96003-ca68-44dd-95a8-52cd83ce8ace"
               ],
               "shipping_width": 10,
               "effective_price": 180.9091,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 10,
               "shipping_length": 10,
               "shipping_weight": 20,
               "is_free_shipping": false,
               "long_description": "<p>This stylish outdoor umbrella is perfect for providing shade on hot summer days. The durable frame and weather-resistant canopy ensure long-lasting performance.</p><ul><li>Durable frame</li><li>Weather-resistant canopy</li><li>Easy to open and close</li><li>Tilting function</li><li>Stylish design</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": " Stay cool and stylish with the \"Shady Haven\" outdoor umbrella.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "SS-SOFA-02",
               "slug": "yellow-sectional-sofa",
               "uuid": "05035af0-5b85-4c5a-aa03-097663e2195f",
               "width": 72,
               "height": 34,
               "length": 108,
               "status": "enabled",
               "weight": 250,
               "brand_name": "Nile",
               "brand_uuid": "4c91a72d-45ed-4160-80cb-28f485c153df",
               "is_on_sale": true,
               "sale_price": 689,
               "tax_amount": 25,
               "is_featured": false,
               "stock_level": 5,
               "total_price": 714,
               "product_name": "Yellow Sectional Sofa",
               "regular_price": 1299,
               "sitemap_order": 0,
               "category_uuids": [
                    "a8316e56-2afe-4311-a465-a7b20f9c1e8c",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "fb3204f1-8189-492e-9dfa-1093f64bf8f0"
               ],
               "shipping_width": 72,
               "effective_price": 689,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 34,
               "shipping_length": 108,
               "shipping_weight": 250,
               "is_free_shipping": false,
               "long_description": "<p>The Sectional Sofa is a spacious and stylish seating solution for any living room. Its customizable configuration allows you to create a layout that perfectly fits your space. The soft, plush cushions provide ultimate comfort for lounging, reading, or watching TV. The sofa's stylish design complements various decor styles, from modern to traditional.</p><p><br></p><ul><li>Spacious seating for large families and gathering</li><li>Customizable configurations to fit any room layout<br></li><li>Soft, plush cushions for ultimate comfort</li><li>Stylish design that complements various decor styles</li><li>Available in multiple colors and fabrics</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Maximize your seating space with this versatile sectional sofa.\n",
               "is_sitemap_enabled": false,
               "is_fixed_tax_amount": true,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "SINK-RND-02",
               "slug": "round-vessel-sink",
               "uuid": "2e5ed60e-b7df-45ce-ad40-594e4764341c",
               "width": 5,
               "length": 16,
               "status": "enabled",
               "weight": 15,
               "gallery_1": [
                    "f234cdce-fd7b-4a74-9152-a4564c5ad342"
               ],
               "gallery_2": [
                    "d71c36c6-8239-4bd6-8c0e-41b256b6451c"
               ],
               "is_on_sale": true,
               "sale_price": 100,
               "tax_amount": 10,
               "is_featured": true,
               "stock_level": 195,
               "total_price": 110,
               "product_name": "Round Vessel Sink",
               "regular_price": 265,
               "sitemap_order": 0,
               "category_uuids": [
                    "ba6017b8-82fe-467c-8882-7fd86a48445c"
               ],
               "shipping_width": 5,
               "effective_price": 100,
               "is_subscription": false,
               "is_tax_included": false,
               "shipping_length": 16,
               "shipping_weight": 15,
               "is_free_shipping": false,
               "long_description": "<p>This elegant round vessel sink adds a touch of sophistication to your bathroom. The smooth, curved design and white ceramic finish complement any decor style.&nbsp;</p><ul><li>Classic, round design</li><li>Durable ceramic construction</li><li>Easy to clean and maintain</li><li>Versatile style</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Create a serene and spa-like atmosphere with this round vessel sink.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": true,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "BD-VS-017",
               "slug": "bliss-decorative-vase-incl-15",
               "uuid": "c742a4db-7d00-4c66-9665-ba4c1694a95b",
               "width": 15,
               "height": 30,
               "length": 15,
               "status": "enabled",
               "weight": 1,
               "brand_name": "Kerrick",
               "brand_uuid": "8d26e704-5cee-4d3d-b8d2-9bd255128d00",
               "is_on_sale": false,
               "sale_price": 25,
               "tax_amount": 15,
               "unit_label": "pcs",
               "is_featured": true,
               "stock_level": 0,
               "total_price": 300,
               "product_name": "Bliss Decorative Vase (incl 15%)",
               "regular_price": 300,
               "sitemap_order": 0,
               "category_uuids": [
                    "9595445b-a7d5-41ec-8e8a-fdad31a68913",
                    "f0dd8b60-a3d8-4070-b6e4-b7c682f2099d"
               ],
               "shipping_width": 15,
               "effective_price": 260.8696,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 30,
               "shipping_length": 15,
               "shipping_weight": 1,
               "is_free_shipping": false,
               "long_description": "<p>This contemporary ceramic vase boasts a minimalist design with a striking visual appeal. Its bulbous shape and vertical ribbed texture create a dynamic and elegant silhouette. The neutral gray color palette adds versatility, allowing it to complement various interior styles. This vase is perfect for displaying a single stem or a small bouquet, elevating any space with its understated beauty.<strong><br></strong></p><p><br></p><ul><li>Modern, minimalist design</li><li>Textured, ribbed surface</li><li>Neutral gray color</li><li>Versatile and stylish</li><li>Perfect for displaying flowers</li></ul>\n",
               "product_weighting": 0,
               "short_description": "A sleek, modern ceramic vase with a textured, ribbed surface in a neutral gray tone.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "MB-FR-005",
               "slug": "zenith-bed-frame",
               "uuid": "5b2b6ac5-5b59-464b-9dc6-c617e6d34667",
               "status": "enabled",
               "brand_name": "Kerrick",
               "brand_uuid": "8d26e704-5cee-4d3d-b8d2-9bd255128d00",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 22,
               "total_price": 799,
               "product_name": "Zenith Bed Frame",
               "regular_price": 799,
               "sitemap_order": 0,
               "category_uuids": [
                    "54ad6fdf-9653-4eaa-a66f-ca0585e8bdf6"
               ],
               "shipping_width": 160,
               "effective_price": 726.3636,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 35,
               "shipping_length": 210,
               "shipping_weight": 50,
               "is_free_shipping": false,
               "long_description": "<p>Crafted from high-quality metal and wood, this minimalist bed frame features clean lines and a low-profile design. Perfect for creating a serene and uncluttered bedroom ambiance.</p><p><br></p><ul><li>Low-profile, modern design</li><li>Durable metal and wood construction</li><li>Easy assembly with all tools included</li><li>Noise-free support for a restful sleep</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": " A sleek, modern bed frame with a minimalist design.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "BATH-WOODEN-01",
               "slug": "wooden-freestanding-bathtub",
               "uuid": "215d180e-054f-4c3c-8ea0-3e4299e74c36",
               "width": 36,
               "height": 28,
               "length": 72,
               "status": "enabled",
               "weight": 350,
               "brand_name": "Luxe",
               "brand_uuid": "ff989ae1-563a-4069-aa0a-c62e8a6a1eba",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "total_price": 3499,
               "product_name": "Wooden Freestanding Bathtub",
               "regular_price": 3499,
               "sitemap_order": 0,
               "category_uuids": [
                    "ba6017b8-82fe-467c-8882-7fd86a48445c"
               ],
               "shipping_width": 36,
               "effective_price": 3180.9091,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 28,
               "shipping_length": 72,
               "is_free_shipping": false,
               "long_description": "<p>This unique wooden freestanding bathtub adds a touch of rustic elegance to your bathroom. Crafted from high-quality teak wood, it offers a luxurious and eco-friendly bathing experience.</p><p></p><ul><li>Natural wood construction</li><li>Durable and weather-resistant</li><li>Adds a touch of natural beauty</li><li>Requires regular maintenance</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Experience the warmth and natural beauty of a wooden freestanding bathtub.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "TN-NS-016",
               "slug": "tranquil-nightstand",
               "uuid": "3f7d19ec-1e06-49fb-be8f-709218fe537d",
               "status": "enabled",
               "media_1": {
                    "path": "modules/insites_ecommerce/product/media_1/178d9ac2-80cb-4159-8459-d47a53901362/Aqua Chill Sofa.jpeg",
                    "versions": {},
                    "extension": "jpeg",
                    "file_name": "Aqua Chill Sofa.jpeg"
               },
               "gallery_1": [
                    "75894138-4392-4760-b138-246848e62be4"
               ],
               "brand_name": "Kerrick",
               "brand_uuid": "8d26e704-5cee-4d3d-b8d2-9bd255128d00",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 25,
               "total_price": 149,
               "product_name": "Tranquil Nightstand",
               "regular_price": 149,
               "sitemap_order": 0,
               "category_uuids": [
                    "54ad6fdf-9653-4eaa-a66f-ca0585e8bdf6",
                    "79025531-2a9e-48e7-9f49-cd9d5ae394ae",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "ceea52ed-5122-4243-bcb3-b8824d3322f1"
               ],
               "shipping_width": 35,
               "effective_price": 135.4545,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 55,
               "shipping_length": 45,
               "shipping_weight": 15,
               "is_free_shipping": false,
               "long_description": "<p>The Tranquil Nightstand features a spacious drawer and open shelf for storing bedtime essentials. Its minimalist design pairs well with various decor styles.</p><p><br></p><ul><li>Single drawer with easy-glide mechanism</li><li>Open shelf for extra storage</li><li>Durable wooden construction</li><li>Sleek, modern look</li></ul>\n",
               "product_weighting": 0,
               "short_description": "A compact nightstand with a modern aesthetic.\n",
               "is_sitemap_enabled": false,
               "is_website_display": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "CS-CB-007",
               "slug": "stride-shoe-cabinet",
               "uuid": "f5ece196-d400-4fb1-8e99-d0b1ae211618",
               "width": 35,
               "height": 100,
               "length": 80,
               "status": "enabled",
               "weight": 25,
               "brand_name": "Nile",
               "brand_uuid": "4c91a72d-45ed-4160-80cb-28f485c153df",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 14,
               "total_price": 199,
               "product_name": "Stride Shoe Cabinet",
               "regular_price": 199,
               "sitemap_order": 0,
               "category_uuids": [
                    "3eadddad-904c-43d5-a78b-b766f95a7366",
                    "79025531-2a9e-48e7-9f49-cd9d5ae394ae",
                    "6dc5edbd-5bf8-41d9-a8ae-66017f971eb2"
               ],
               "shipping_width": 35,
               "effective_price": 180.9091,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 100,
               "shipping_length": 80,
               "shipping_weight": 25,
               "is_free_shipping": false,
               "long_description": "<p>The Compact Shoe Cabinet is perfect for keeping your entryway tidy. With adjustable shelves and a sleek design, it holds up to 20 pairs of shoes and fits seamlessly into small spaces.</p><p><br></p><ul><li>Adjustable shelves for versatile storage</li><li>Holds up to 20 pairs of shoes</li><li>Sleek design suitable for small spaces</li><li>Durable, easy-to-clean surface</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "A practical shoe cabinet with multiple compartments.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "SH-HH-001",
               "slug": "sleek-handheld-shower-head",
               "uuid": "3fb737b8-3737-446f-b093-51b098c45b55",
               "width": 3,
               "height": 2,
               "length": 8,
               "status": "enabled",
               "weight": 1,
               "is_on_sale": false,
               "sale_price": 99,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": -1,
               "total_price": 129,
               "product_name": "Sleek Handheld Shower Head",
               "regular_price": 129,
               "sitemap_order": 0,
               "category_uuids": [
                    "ba6017b8-82fe-467c-8882-7fd86a48445c"
               ],
               "shipping_width": 3,
               "effective_price": 117.2727,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 2,
               "shipping_length": 8,
               "shipping_weight": 1,
               "is_free_shipping": false,
               "long_description": "<p>This stylish handheld shower head offers a versatile and convenient showering experience. The sleek design and easy-to-grip handle make it perfect for rinsing off, bathing children, or cleaning the shower.&nbsp;</p><ul><li>Sleek, modern design</li><li>Easy-to-grip handle</li><li>Multiple spray patterns</li><li>Durable chrome finish</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Enjoy precise water control and a refreshing shower experience with this sleek handheld shower head.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "SINK-RC-01",
               "slug": "rectangular-vessel-sink",
               "uuid": "924f28ae-4452-4fc5-ba8c-486fb11db916",
               "status": "enabled",
               "is_on_sale": true,
               "sale_price": 250,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": -2,
               "total_price": 275,
               "product_name": "Rectangular Vessel Sink",
               "regular_price": 299,
               "sitemap_order": 0,
               "category_uuids": [
                    "ba6017b8-82fe-467c-8882-7fd86a48445c"
               ],
               "shipping_width": 12,
               "effective_price": 250,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 5,
               "shipping_length": 18,
               "shipping_weight": 20,
               "is_free_shipping": false,
               "long_description": "<p>This stylish rectangular vessel sink is perfect for creating a contemporary bathroom look. The sleek design and ceramic construction make it both functional and beautiful.&nbsp;</p><ul><li>Minimalist, modern design</li><li>Durable ceramic construction</li><li>Easy to clean and maintain</li><li>Compatible with various faucet styles</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Add a touch of minimalist elegance to your bathroom with this rectangular vessel sink.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "PL-BED-01",
               "slug": "platform-bed-frame",
               "uuid": "a507b438-fa44-4c0f-99ca-8621615dcfb0",
               "width": 60,
               "height": 12,
               "length": 78,
               "status": "enabled",
               "weight": 80,
               "gallery_1": [
                    "a07c7531-f6c0-43f8-a3f4-51fdfcfc9814",
                    "1e59acca-3720-44ed-8214-4dc979b6c034",
                    "0f3281d0-555e-489b-9c24-1b0d169be8cf",
                    "2b60ad57-fe8c-43ee-826e-3af5de41adfa"
               ],
               "brand_name": "Kerrick",
               "brand_uuid": "8d26e704-5cee-4d3d-b8d2-9bd255128d00",
               "is_on_sale": false,
               "tax_amount": 20,
               "is_featured": false,
               "stock_level": 33,
               "total_price": 299,
               "product_name": "Platform Bed Frame",
               "regular_price": 299,
               "sitemap_order": 0,
               "category_uuids": [
                    "54ad6fdf-9653-4eaa-a66f-ca0585e8bdf6"
               ],
               "shipping_width": 60,
               "effective_price": 249.1667,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 12,
               "shipping_length": 78,
               "shipping_weight": 80,
               "is_free_shipping": false,
               "long_description": "<p>The Platform Bed Frame is a modern and minimalist addition to any bedroom. Its sturdy wood construction provides a solid foundation for your mattress, while its low-profile design creates a sleek and contemporary look. The bed frame requires no box spring, making it a convenient and space-saving option.<strong><br><br></strong></p><ul><li><strong></strong>Modern minimalist design</li><li>Sturdy wood construction</li><li>Low-profile design for a contemporary look</li><li>No box spring required</li><li>Available in multiple finishes</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Elevate your sleep experience with this stylish platform bed frame.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "PG-ARRANGEMENT-01",
               "slug": "pampas-grass-arrangement",
               "uuid": "8e009e34-4798-4a7d-8f95-07f19224ccbf",
               "width": 4,
               "height": 36,
               "length": 12,
               "status": "enabled",
               "weight": -13,
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 7,
               "total_price": 49.9901,
               "product_name": "Pampas Grass Arrangement",
               "regular_price": 49.99,
               "sitemap_order": 0,
               "category_uuids": [
                    "9595445b-a7d5-41ec-8e8a-fdad31a68913",
                    "f0dd8b60-a3d8-4070-b6e4-b7c682f2099d"
               ],
               "shipping_width": 15,
               "effective_price": 45.4455,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 36,
               "shipping_length": 2,
               "shipping_weight": 2,
               "is_free_shipping": false,
               "long_description": "<p>This beautiful pampas grass arrangement is perfect for adding a touch of natural beauty to your home. The soft, feathery plumes of pampas grass are arranged in a modern ceramic vase, creating a stylish and elegant centerpiece.</p><p><br></p><ul><li>Natural Beauty: The soft, feathery plumes of pampas grass add a touch of natural beauty to any space.</li><li>Modern Design: The sleek ceramic vase complements the natural beauty of the pampas grass.</li><li>Low Maintenance: No watering or pruning required.</li><li>Versatile: Perfect for any room in your home, from the living room to the bedroom.</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Add a touch of boho chic to your space with this stunning pampas grass arrangement.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "BATH-OVAL-01",
               "slug": "oval-freestanding-bathtub",
               "uuid": "dbdd8983-645f-4888-8653-c281034bce58",
               "width": 32,
               "height": 28,
               "length": 66,
               "status": "enabled",
               "weight": 250,
               "brand_name": "Nile",
               "brand_uuid": "4c91a72d-45ed-4160-80cb-28f485c153df",
               "is_on_sale": true,
               "sale_price": 1599,
               "is_featured": false,
               "stock_level": 9,
               "total_price": 1599,
               "product_name": "Oval Freestanding Bathtub",
               "regular_price": 4000,
               "sitemap_order": 0,
               "category_uuids": [
                    "ba6017b8-82fe-467c-8882-7fd86a48445c"
               ],
               "shipping_width": 32,
               "effective_price": 1599,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 28,
               "shipping_length": 66,
               "shipping_weight": 250,
               "is_free_shipping": false,
               "long_description": "<p>This modern oval freestanding bathtub is the perfect addition to any contemporary bathroom. Crafted from high-quality acrylic, it offers a comfortable and stylish bathing experience. Key features include.</p><p></p><ul><li>Elegant oval design</li><li>Durable acrylic construction<br></li><li>Easy to clean and maintain</li><li>Spacious interior for ultimate relaxation</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Indulge in a luxurious bathing experience with this sleek, oval freestanding bathtub.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "NE-FC-005",
               "slug": "moda-faucet",
               "uuid": "e9d0ebcc-2d3b-42da-920d-48c78ff44074",
               "width": 4,
               "height": 6,
               "length": 8,
               "status": "enabled",
               "weight": 5,
               "brand_name": "Kerrick",
               "brand_uuid": "8d26e704-5cee-4d3d-b8d2-9bd255128d00",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 94,
               "total_price": 158,
               "product_name": "Moda Faucet",
               "regular_price": 158,
               "sitemap_order": 0,
               "category_uuids": [
                    "ba6017b8-82fe-467c-8882-7fd86a48445c"
               ],
               "shipping_width": 4,
               "effective_price": 143.6364,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 6,
               "shipping_length": 8,
               "shipping_weight": 5,
               "is_free_shipping": false,
               "long_description": "<p>This stylish faucet is the perfect finishing touch for any contemporary bathroom. The sleek design and chrome finish add a touch of sophistication.&nbsp;</p><p></p><ul><li>Sleek, modern design</li><li>Durable chrome finish</li><li>Easy to install</li><li>Easy to clean</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Elevate your bathroom's style with this sleek and modern faucet.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "OB-SS-010",
               "slug": "glam-sherpa-recliner",
               "uuid": "1271b0e6-188a-49b2-8087-b7a7f1349d04",
               "status": "enabled",
               "brand_name": "Luxe",
               "brand_uuid": "ff989ae1-563a-4069-aa0a-c62e8a6a1eba",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 5,
               "total_price": 436,
               "product_name": "Glam Sherpa Recliner",
               "regular_price": 436,
               "sitemap_order": 0,
               "category_uuids": [
                    "b4c9fa46-fbb6-4e56-8b6d-6d05bd0e7408",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "fb3204f1-8189-492e-9dfa-1093f64bf8f0"
               ],
               "shipping_width": 35,
               "effective_price": 396.3636,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 35,
               "shipping_length": 150,
               "shipping_weight": 35,
               "is_free_shipping": true,
               "long_description": "<ul><li>Glam Design: Features a luxurious sherpa upholstery with a solid color scheme for a chic and modern look.</li><li>Comfortable Seating: Foam cushions offer exceptional comfort for everyday use.</li><li>Durable Build: Sturdy construction with premium materials for long-lasting durability.</li><li>Stylish and Versatile: Perfect for modern interiors, available in Off-White, Yellow, Pink, Pinkish Red, Army Green, and Light Gray.</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Glam Sherpa Standard Sofa with Sloped Arms, Foam Cushions, and Solid Color Design, Living room couch, \n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "MV-QB-006",
               "slug": "elegant-queen-bed",
               "uuid": "e3d4a970-cdff-412e-9a38-332f87820d9d",
               "status": "enabled",
               "brand_name": "Kerrick",
               "brand_uuid": "8d26e704-5cee-4d3d-b8d2-9bd255128d00",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 7,
               "total_price": 1025,
               "product_name": "Elegant Queen Bed",
               "regular_price": 1025,
               "sitemap_order": 0,
               "category_uuids": [
                    "54ad6fdf-9653-4eaa-a66f-ca0585e8bdf6"
               ],
               "shipping_width": 80,
               "effective_price": 931.8182,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 80,
               "shipping_length": 200,
               "shipping_weight": 100,
               "is_free_shipping": true,
               "long_description": "<ul><li>ELEGANT DESIGN: The Comfynest Queen Bed features a luxurious tufted headboard, adding a touch of sophistication to any bedroom decor.</li><li>STURDY CONSTRUCTION: MDF frame offers strong support and stability, providing long-lasting use for years to come.</li><li>MODERN APPEAL: Combines vogue design elements with functional features to enhance any sleeping environment.</li><li>IDEAL SIZE: Suitable for a standard 160×200 cm mattress, offering ample space for a restful night’s sleep. Mattress sold separately.</li><li>QUALITY MATERIALS: Crafted from high-quality foam, fabric, and MDF, ensuring durability and comfort.</li><li>ASSEMBLY INCLUDED: Easy to assemble with provided instructions, allowing you to quickly set up and enjoy your new bed without hassle.</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Elegant Queen Bed with Tufted Headboard \n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "DD-CT-222",
               "slug": "dream-rest-daybed",
               "uuid": "ea27f379-9866-4375-8981-8cb5878dc089",
               "status": "enabled",
               "brand_name": "Nile",
               "brand_uuid": "4c91a72d-45ed-4160-80cb-28f485c153df",
               "is_on_sale": true,
               "sale_price": 399,
               "is_featured": false,
               "stock_level": 20,
               "total_price": 399,
               "product_name": "DreamRest Daybed with Storage Drawers",
               "regular_price": 468,
               "sitemap_order": 0,
               "category_uuids": [
                    "54ad6fdf-9653-4eaa-a66f-ca0585e8bdf6",
                    "79025531-2a9e-48e7-9f49-cd9d5ae394ae",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "ceea52ed-5122-4243-bcb3-b8824d3322f1"
               ],
               "effective_price": 399,
               "is_subscription": false,
               "is_tax_included": true,
               "is_free_shipping": false,
               "long_description": "<p>The DreamRest Daybed is the perfect addition to any bedroom or living room. Its sleek design and plush cushioning provide comfortable seating and sleeping. The built-in storage drawers offer ample space for blankets, pillows, or other essentials, keeping your space tidy and organized.</p><p></p><ul><li>Versatile Design: Easily converts from a stylish daybed to a cozy guest bed.</li><li>Spacious Storage: Hidden drawers provide ample storage space for your belongings.</li><li>Plush Cushioning: Ensures maximum comfort for lounging or sleeping.</li><li>Modern Aesthetic: Sleek design complements any interior style.</li><li>Durable Construction: Built to last with high-quality materials.</li></ul>\n",
               "product_weighting": 0,
               "short_description": "Upgrade your living space with the DreamRest Daybed and experience ultimate comfort and style.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "COZY-CORNER-01",
               "slug": "cozy-corner-sofa",
               "uuid": "8187ae6b-34f7-479f-b7d5-63f3ec9cd50c",
               "width": 36,
               "height": 32,
               "length": 80,
               "status": "enabled",
               "weight": 120,
               "brand_name": "Luxe",
               "brand_uuid": "ff989ae1-563a-4069-aa0a-c62e8a6a1eba",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 12,
               "total_price": 991,
               "product_name": "Cozy Corner Sofa",
               "regular_price": 991,
               "sitemap_order": 0,
               "category_uuids": [
                    "a8316e56-2afe-4311-a465-a7b20f9c1e8c",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "fb3204f1-8189-492e-9dfa-1093f64bf8f0"
               ],
               "shipping_width": 36,
               "effective_price": 900.9091,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 32,
               "shipping_length": 80,
               "shipping_weight": 120,
               "is_free_shipping": false,
               "long_description": "<p>The Cozy Corner Sofa is the perfect addition to any small living space. Its compact design and plush seating make it ideal for cozying up with a good book or movie. The sofa's soft, durable upholstery is not only stylish but also easy to clean. The supportive foam cushions provide optimal comfort, while the sleek wooden legs add a touch of modern elegance.<strong><br><br><br></strong></p><ul><li><strong></strong>Upholstered in soft, durable fabric</li><li>Supportive foam cushions</li><li>Sleek wooden legs</li><li>Compact design ideal for small living rooms or apartments<br><br></li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Relax in style with this cozy corner sofa. Perfect for small spaces.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "OB-SS-012",
               "slug": "contemporary-tech-cloth-sofa",
               "uuid": "fa4ccdbb-bdc8-41a5-9cca-824f67148744",
               "status": "enabled",
               "brand_name": "Kerrick",
               "brand_uuid": "8d26e704-5cee-4d3d-b8d2-9bd255128d00",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 4,
               "total_price": 440,
               "product_name": "Contemporary Tech Cloth Sofa",
               "regular_price": 400,
               "sitemap_order": 0,
               "category_uuids": [
                    "c9d19fd9-5b75-414d-a522-7c22accf4ec3",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "fb3204f1-8189-492e-9dfa-1093f64bf8f0"
               ],
               "shipping_width": 98,
               "effective_price": 400,
               "is_subscription": false,
               "is_tax_included": false,
               "shipping_height": 56,
               "shipping_length": 200,
               "shipping_weight": 35,
               "is_free_shipping": true,
               "long_description": "<ul><li>Modern Design: Sleek and stylish sofa perfect for contemporary living spaces.</li><li>Durable Upholstery: Made from high-quality tech cloth, offering a smooth and comfortable feel.</li><li>Pillow Top Arm Design: Adds comfort and a touch of luxury to your living room.</li><li>Removable Cushions: Easy to clean and maintain for lasting beauty.</li><li>Perfect Size: Dimensions 220.98 x 78.74 x 76.2 cm, ideal for small to medium living rooms.</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Contemporary Tech Cloth Sofa with Pillow Top Arm and Removable Cushions\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "OB-SS-023",
               "slug": "contemporary-2-seater-sofa",
               "uuid": "ec671e8e-d46b-4863-a406-b36c76b2b31f",
               "status": "enabled",
               "weight": 30,
               "brand_name": "Nile",
               "brand_uuid": "4c91a72d-45ed-4160-80cb-28f485c153df",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 10,
               "total_price": 325,
               "product_name": "Contemporary 2-Seater Sofa",
               "regular_price": 325,
               "sitemap_order": 0,
               "category_uuids": [
                    "a8316e56-2afe-4311-a465-a7b20f9c1e8c",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "fb3204f1-8189-492e-9dfa-1093f64bf8f0"
               ],
               "freight_amount": 20,
               "shipping_width": 55.9,
               "effective_price": 295.4545,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 61,
               "shipping_length": 142.2,
               "shipping_weight": 30,
               "is_free_shipping": false,
               "long_description": "<ul><li>Modern Design: Add a touch of style to your living space with this sleek 2-seater sofa in a vibrant yellow/beige color.</li><li>Compact Dimensions: Perfect fit for small apartments or cozy living rooms (142.24 x 60.96 x 55.88 cm).</li><li>Comfortable Seating: Features square arms and two bolster pillows for added comfort and support.</li><li>Durable Material: Upholstered in premium, easy-to-clean fabric for long-lasting use.</li><li>Easy Assembly: Quick setup with clear instructions provided.</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Contemporary 2-Seater Sofa with Square Arm and Bolster Pillows\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "GL-CT-012",
               "slug": "comfy-nest-modern-sofa",
               "uuid": "f8e0728c-6743-4d62-94a5-485035823b29",
               "status": "enabled",
               "brand_name": "Luxe",
               "brand_uuid": "ff989ae1-563a-4069-aa0a-c62e8a6a1eba",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": true,
               "stock_level": 0,
               "total_price": 95.81,
               "product_name": "Comfy Nest Modern Sofa",
               "regular_price": 95.81,
               "sitemap_order": 0,
               "category_uuids": [
                    "a8316e56-2afe-4311-a465-a7b20f9c1e8c",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "fb3204f1-8189-492e-9dfa-1093f64bf8f0"
               ],
               "effective_price": 87.1,
               "is_subscription": false,
               "is_tax_included": true,
               "is_free_shipping": false,
               "long_description": "<p>The Comfy Nest Modern Sofa wraps you in plush, deep-seated comfort while keeping a clean, contemporary silhouette. Its soft upholstery and sturdy hardwood frame make it an inviting centrepiece for everyday lounging or hosting guests.</p><ul><li>Deep, cushioned seats for all-day comfort</li><li>Clean-lined, modern design</li><li>Durable hardwood frame</li><li>Soft, easy-care upholstery</li><li>Complements a range of living room styles</li></ul>\n",
               "product_weighting": 0,
               "short_description": "Sink into plush, everyday comfort with the Comfy Nest, a clean-lined modern sofa built for relaxed living.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "MV-SF-001",
               "slug": "celeste-velvet-sofa",
               "uuid": "937d53bc-201b-4747-94bb-c760a21408f2",
               "width": 85,
               "height": 90,
               "length": 210,
               "status": "enabled",
               "weight": 45,
               "brand_name": "Kerrick",
               "brand_uuid": "8d26e704-5cee-4d3d-b8d2-9bd255128d00",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 8,
               "total_price": 899.99,
               "product_name": "Celeste Velvet Sofa",
               "regular_price": 899.99,
               "sitemap_order": 0,
               "category_uuids": [
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "fb3204f1-8189-492e-9dfa-1093f64bf8f0"
               ],
               "shipping_width": 85,
               "effective_price": 818.1727,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 90,
               "shipping_length": 210,
               "shipping_weight": 45,
               "is_free_shipping": false,
               "long_description": "<p>The Modern Velvet Sofa features a plush velvet upholstery with deep cushions and a solid wood frame for durability. Its sleek design brings comfort and elegance to any living room. Available in various colors.<strong><br></strong></p><p><br></p><ul><li>Premium velvet fabric upholstery</li><li>Deep, comfortable cushions</li><li>Solid wood frame for enhanced stability</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "A luxurious velvet sofa perfect for contemporary living spaces.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "BOTANICAL-ART-01",
               "slug": "botanical-framed-art",
               "uuid": "c2c829be-38dc-4b1c-89ae-51e944b750d4",
               "width": 18,
               "height": 18,
               "length": 24,
               "status": "enabled",
               "weight": 5,
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": false,
               "stock_level": 5,
               "total_price": 79.99,
               "product_name": "Botanical Framed Art",
               "regular_price": 79.99,
               "sitemap_order": 0,
               "category_uuids": [
                    "12d2d4e3-e9f2-4afa-8319-84353942440c",
                    "f0dd8b60-a3d8-4070-b6e4-b7c682f2099d"
               ],
               "shipping_width": 18,
               "effective_price": 72.7182,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 18,
               "shipping_length": 24,
               "shipping_weight": 5,
               "is_free_shipping": false,
               "long_description": "<p>This beautiful botanical framed art is a classic piece that will add a touch of sophistication to any room. The intricate details of the botanical illustration are beautifully captured in this high-quality print, framed in a stylish gold frame<strong><br></strong></p><p><br></p><ul><li>Timeless Design: The classic botanical illustration is a timeless piece of art.<br></li><li>High-Quality Print: The print is printed on high-quality paper and framed in a durable gold frame.<br></li><li>Easy to Hang: The frame comes with a hanging hardware, making it easy to hang on any wall.<br></li><li>Versatile: Perfect for any room in your home, from the living room to the bedroom.</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "Elevate your space with this timeless botanical framed art.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "MC-CH-006",
               "slug": "aurora-mid-century-chair",
               "uuid": "62ed0b16-6e8e-4a20-87d3-68fa7ef2236e",
               "status": "enabled",
               "brand_name": "Nile",
               "brand_uuid": "4c91a72d-45ed-4160-80cb-28f485c153df",
               "is_on_sale": false,
               "tax_amount": 10,
               "is_featured": true,
               "stock_level": 15,
               "total_price": 359,
               "product_name": "Aurora Mid-Century Chair",
               "canonical_url": "https://insites-add-on-ecommerce-v111-dev2-ivy.staging.oregon.platform-os.com/products/aurora-mid-century-chair",
               "regular_price": 359,
               "sitemap_order": 0,
               "category_uuids": [
                    "cd9882a8-e858-4594-a924-4d6d5689ff94"
               ],
               "shipping_width": 80,
               "effective_price": 326.3636,
               "is_subscription": false,
               "is_tax_included": true,
               "shipping_height": 90,
               "shipping_length": 70,
               "shipping_weight": 20,
               "is_free_shipping": false,
               "long_description": "<p>This mid-century accent chair features a solid wood frame, cushioned seat, and fabric upholstery. The angled legs and retro silhouette add a touch of elegance to any space.</p><p><br></p><ul><li>Solid wood frame with angled legs</li><li>Comfortable foam cushioning</li><li>Mid-century modern design</li><li>High-quality fabric upholstery</li></ul>\n",
               "is_use_meta_title": false,
               "short_description": "A stylish accent chair inspired by mid-century design.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_use_meta_description": false,
               "is_product_variant_enabled": false,
               "is_visible_to_search_engines": true
          }
     },
     {
          "type_name": "modules/insites_ecommerce/product",
          "properties": {
               "sku": "BL-CT-122",
               "slug": "aqua-chill-sofa",
               "uuid": "3b027ff0-8307-4fa5-a9c5-73d9e8ae8305",
               "status": "enabled",
               "gallery_1": [
                    "c6a23899-d254-44a4-9ce6-9cb294e6eced",
                    "8ca818f3-61c5-4dfe-9369-6799f1a7ee26",
                    "5f8e3ed4-a129-4311-9c67-9e25bfbfb0ee",
                    "8a0271c1-8bd1-4acf-8637-99c3d99060f2"
               ],
               "brand_name": "Kerrick",
               "brand_uuid": "8d26e704-5cee-4d3d-b8d2-9bd255128d00",
               "is_on_sale": true,
               "sale_price": 42,
               "tax_amount": 2,
               "is_featured": false,
               "stock_level": 4,
               "total_price": 42.84,
               "product_name": "Aqua Chill Sofa",
               "regular_price": 300,
               "sitemap_order": 0,
               "category_uuids": [
                    "a8316e56-2afe-4311-a465-a7b20f9c1e8c",
                    "cd9882a8-e858-4594-a924-4d6d5689ff94",
                    "fb3204f1-8189-492e-9dfa-1093f64bf8f0"
               ],
               "effective_price": 42,
               "is_subscription": false,
               "is_tax_included": true,
               "is_free_shipping": false,
               "long_description": "<p>Experience ultimate relaxation with our Cozy Corner Sofa. Its soft upholstery and supportive cushions provide the ideal seating for cozy movie nights or entertaining guests. The sleek design complements any living room decor.</p>\n",
               "product_weighting": 0,
               "short_description": "Sink into comfort with this plush sofa, perfect for relaxing evenings.\n",
               "is_sitemap_enabled": false,
               "is_website_display": true,
               "is_fixed_tax_amount": false,
               "is_visible_to_search_engines": true
          }
     }
]
{% endparse_json %}

{%- graphql results, models: import_products -%}
     mutation ($models: [CustomizationImport!]!) {
          import_models(
               models: $models
          ) {
               ids
          }
     }
{%- endgraphql -%}
{% log results, type: "SEED DATA: Products" %}
{%- else -%}
{% log existing_products_count, type: "SEED DATA: Products skipped (records already exist)" %}
{%- endif -%}
